html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

/********************************************************** Fonts ******************************************************/
@font-face {
  font-family: "Lato-regular";
  src: url(./fonts/Lato-Regular.ttf) format(truetype);
}

/********************************************************** Variables ******************************************************/
:root {
  --font-text: "Lato-regular", sans-serif;
  --font-size-title: 2.2rem;
  --font-weight-title: 300;
  --font-size-subtitle: 1.125rem;
  --font-style-subtitle: italic;
  --font-weight-subtitle: 200;
  --font-size-input: 0.9rem;
  --font-size-labels: 1.3rem;
  --font-weight-labels: 200;
  --letteSpacing: 0.025rem;
  /********Color****************/
  --main-color: white;
  /********Margins*************/
  --margin-top-head: 2rem;
  --margin-top-form: 2rem;
  --margin-start-text: 1.5rem;
  --margin-end-text: 0.3rem;
  /********Image**************/
  --image-background: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  /*********Inputs*************/
  --inputsTest: "radio";
  --button-padding: 0.8rem;
  --button-color: #37af65;
  --color-separation-line: rgb(224, 224, 224);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: darkblue;
  background-image: linear-gradient(100deg, rgba(58, 58, 158, 0.5), rgba(136, 136, 206, 0.7)), var(--image-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.formBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  border-radius: 5px;
  height: 100vh;

  margin-top: var(--margin-top-head);
}

/********************************************************** Head ******************************************************/
.head {
  color: var(--main-color);
  text-align: center;
}

.head__title {
  font-family: var(--font-text);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  margin-block-end: var(--margin-end-text);
}

/********************************************************** Form ******************************************************/
.survey-form {
  border-radius: 0.25rem;
  background-color: rgba(41, 40, 72, 0.9);
  padding: 2.5rem 2.5rem;
  margin-top: var(--margin-top-head);
  font-family: var(--font-text);
  color: var(--main-color);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.survey-form__label {
  font-weight: var(--font-weight-labels);
  font-size: var(--font-size-labels);
  margin-block-start: var(--margin-start-text);
  margin-block-end: var(--margin-end-text);
}

.survey-form__input {
  background-color: var(--main-color);
  border-radius: 0.25rem;
  height: 35px;
  padding-left: 0.5rem;
  font-size: var(--font-size-input);
  letter-spacing: var(--letteSpacing);
}

.submit-button {
  color: var(--main-color);
  background-color: var(--button-color);
  font-size: var(--font-weight-labels);
  margin-block-start: var(--margin-start-text);
  padding: var(--button-padding) 0 var(--button-padding) 0;
  width: 100%;
}

.error {
  margin-block-end: -1.5rem;
  color: red;
  font-size: 0.8rem;
}
